<!--<div *ngIf="pedido != null; else noData">-->
<!--  <form class="ps-2 mt-2" *ngIf="pedido != null" [formGroup]="editForm">-->
<!--    <div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Planta</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.planta}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>País Planta</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.paisPlanta}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Referencia Cliente</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.refCliente}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Req Cliente</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.reqCliente | defaultDate}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Ref Cliente</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.refCliente}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>FCL</mat-label>-->
<!--          <input matInput type="number" value="{{pedido.fcl}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Tamaño contenedor</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.tamanioContenido}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Prefactura aduana</mat-label>-->
<!--          <input matInput formControlName="prefactura" value="{{pedido.prefactAduana}}" required>-->
<!--          <mat-error>Debe agregarse esa movida</mat-error>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Factura SRI</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.facturaSRI}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Secuencial</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.sec}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Cliente</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.cliente}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Marca</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.marca}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Cajas</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.cajas}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Producto</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.producto}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Unidades por caja</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.unidadesPorCaja}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Destino</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.destino}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Término</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.termino | defaultDate}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Fin de Cuarentena</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.finCuarentena | defaultDate}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Etiquetal Fin</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.etiquetaFin | defaultDate}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Carga</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.carga | defaultDate}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Embarque Tentativo</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.embarqueTentativo | defaultDate}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Embarque Real</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.embarqueReal | defaultDate}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Fecha Facturación</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.fechaFacturacion | defaultDate }}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Naviera</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.naviera}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Buque</mat-label>-->
<!--          <input matInput formControlName="buque" value="{{pedido.buque}}" required>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Número de Contenedor</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.numeroContenedor}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Sellos</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.sellos}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>BL</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.bl}}">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Estado</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.estado}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Comentarios</mat-label>-->
<!--          <textarea matInput>{{pedido.comentarios}}</textarea>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Transportista Terreste</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.transportistaTerrestre}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Valor Flete Terrestre</mat-label>-->
<!--          <input matInput type="number" formControlName="valorFleteTerrestre" value="{{pedido.valorFleteTerrestre}}">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Puerto de Orígen</mat-label>-->
<!--          <input matInput type="text" value="{{pedido.puertoOrigen}}" disabled>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="my-2">-->
<!--        <mat-form-field class="w-100" appearance="fill">-->
<!--          <mat-label>Valor Flete Marítimo</mat-label>-->
<!--          <input matInput type="number" formControlName="valorFleteMaritimo" value="{{pedido.valorFleteMaritimo}}">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="d-flex flex-row justify-content-center">-->
<!--        <div>-->
<!--          <button (click)="saveForm(editForm)" mat-raised-button color="primary" class="me-2">Actualizar</button>-->
<!--        </div>-->
<!--        <div>-->
<!--          <button mat-raised-button color="accent">Cancelar</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<!--<ng-template #noData>-->
<!--  <div class="alert alert-warning mx-2 my-2">Debe seleccionar un elemento</div>-->
<!--</ng-template>-->
