<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="d-flex flex-row justify-content-between">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="logo">
    </div>
    <div class="user-info">
      <div>¡Hola {{usuario}}!</div>
      <div class="text-muted small">{{sesionDate}}</div>
    </div>
  </div>
</div>
<div class="white-bar"></div>

<div class="content container-fluid" role="main">
  <div class="leaf-bg">
    <div class="fs-6">{{title}}/</div>
    <div class="fw-normal fs-3 text-success">{{title}}</div>
  </div>
  <router-outlet></router-outlet>
</div>
