<div class="mt-4">
  <h2 class="text-muted border-bottom">Listado</h2>
  <div class="w-100">
    <!--    <button class="me-2 px-2 mb-2" mat-raised-button color="success" (click)="exportar()"><i class="fa fa-file-excel me-2"></i> Exportar a Excel</button>-->
  </div>
  <div class="d-flex flex-row">
    <div class="w-75">
      <div class="my-3 d-flex flex-row justify-content-start">
        <button (click)="exportAsExcel()"
                matTooltip="Eksport table to Excel document"
                mat-raised-button>
          Exportar a Excel (.csv)
          <i class="fa fa-download"></i>
        </button>
      </div>
      <ag-grid-angular
        style="width: auto;"
        class="ag-theme-alpine max-height"
        [rowData]="pedidosFiltrados"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        [overlayLoadingTemplate]="cargandoRegistros"
        [overlayNoRowsTemplate]="sinRegistro"
        (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
      <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>
      <div class="d-flex flew-row justify-content-start mt-2">
        <div class="me-3"><strong>Número de resultados:</strong> {{pedidosFiltrados.length}}</div>
        <div><strong>Seleccionados:</strong> {{pedidosSeleccionados.length}}</div>
      </div>
    </div>
    <div class="w-25 ms-2">
      <div class="my-3"><button mat-raised-button class="bg-white" style="opacity: 0" disabled>aa</button></div>
      <mat-tab-group mat-align-tabs="start" class="max-height" #tabGroup>
        <mat-tab label="Buscar">
          <div class="px-2">
            <div class="fw-bold my-3">Criterios de búsqueda</div>
            <form [formGroup]="filterForm">
              <div>
                <mat-checkbox color="primary" formControlName="fechaTentativa">Fecha tentativa embarque:</mat-checkbox>
              </div>
              <!--              DATEPICKER -->
              <div class="d-flex flex-column my-3 pb-3 filtro-embarque">
                <label>Tentativa de embarque</label>
                <div class="d-flex flex-row date-picker-filter">
                  <div>
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label>Escoja una fecha</mat-label>
                      <input matInput [matDatepicker]="picker"
                             formControlName="embarqueDesde">
                      <!--                      <mat-hint>MM/DD/YYYY</mat-hint>-->
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label>Escoja una fecha</mat-label>
                      <input matInput [matDatepicker]="picker2"
                             formControlName="embarqueHasta">
                      <!--                      <mat-hint>MM/DD/YYYY</mat-hint>-->
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <mat-error class="error-form" *ngIf="!fechasValidas || !fechasMaximas">{{errorFechas}}</mat-error>
              </div>
              <!-- FILTRO PAIS PLANTA -->
              <div class="w-100">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>País planta</mat-label>
                  <!--                  Filtrado uno a uno-->
                  <!--                  <mat-select formControlName="estado" (selectionChange)="filtro($event,'paisPlanta')">-->
                  <mat-select formControlName="paisPlanta">
                    <mat-option value="TODOS"><strong>TODOS</strong></mat-option>
                    <mat-option *ngFor="let pais of paises"
                                value="{{pais.codigo}}">{{pais.descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="this.filterForm.get('paisPlanta').invalid">El país es requerido</mat-error>
                </mat-form-field>
              </div>
              <!-- FILTRO REPRESENTANTE-->
              <div class="w-100 mt-2">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>Representante</mat-label>
                  <!--                  Filtrado uno a uno-->
                  <!--                  <mat-select formControlName="estado" (selectionChange)="filtro($event,'refRep')">-->
                  <mat-select formControlName="representante">
                    <mat-option value="TODOS"><strong>TODOS</strong></mat-option>
                    <mat-option *ngFor="let rep of representantes"
                                value="{{rep.codigoRepresentante}}">{{rep.nombre}}</mat-option>
                  </mat-select>
                  <!--                  <mat-hint>Errors appear instantly!</mat-hint>-->
                  <!--                  <mat-error *ngIf="selected.hasError('required')">Debe seleccionar un valor</mat-error>-->
                </mat-form-field>
              </div>
              <mat-divider class="my-3"></mat-divider>
              <!-- FILTRO CLIENTE-->
              <div class="w-100 mt-2">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>Cliente</mat-label>
                  <!--                  Filtrado uno a uno-->
                  <!--                  <mat-select formControlName="estado" (selectionChange)="filtro($event,'cliente')">-->
                  <mat-select formControlName="cliente">
                    <mat-option value="TODOS"><strong>TODOS</strong></mat-option>
                    <mat-option *ngFor="let cliente of clientes"
                                value="{{cliente.codigo}}">{{cliente.nombre}}</mat-option>
                  </mat-select>
                  <!--                  <mat-hint>Errors appear instantly!</mat-hint>-->
                  <!--                  <mat-error *ngIf="selected.hasError('required')">Debe seleccionar un valor</mat-error>-->
                </mat-form-field>
              </div>
              <!-- FILTRO ESTADO -->
              <!--              <div class="w-100">-->
              <!--                <mat-form-field class="w-100 py-0 my-0" appearance="fill">-->
              <!--                  <mat-label>Estado</mat-label>-->
              <!--                  <mat-select formControlName="estado" (selectionChange)="filtro($event,'estado')">-->
              <!--                    <mat-option *ngFor="let estado of estados | keyvalue"-->
              <!--                                value="{{estado.value}}">{{estado.value}}</mat-option>-->
              <!--                  </mat-select>-->
              <!--                  &lt;!&ndash;                  <mat-hint>Errors appear instantly!</mat-hint>&ndash;&gt;-->
              <!--                  <mat-error *ngIf="selected.hasError('required')">Debe seleccionar un valor</mat-error>-->
              <!--                </mat-form-field>-->
              <!--              </div>-->

              <!-- FILTRO PRODUCTO -->
              <div class="my-0">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>Producto</mat-label>
                  <input type="text"
                         placeholder="Ingrese el producto"
                         matInput
                         formControlName="producto"
                         [matAutocomplete]="acProducto">
                  <!--                  Filtrado uno a uno-->
                  <!--                         (change)="filtro($event.target,'producto')">-->
                  <!--                  <mat-autocomplete autoActiveFirstOption #acProducto="matAutocomplete" (optionSelected)="filtro($event.option, 'producto')">-->
                  <mat-autocomplete autoActiveFirstOption #acProducto="matAutocomplete">
                    <mat-option *ngFor="let option of productosFiltrados | async" [value]="option.descripcionEspanol">
                      {{option.descripcionEspanol}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <!-- FILTRO NAVIERAS -->
              <div class="w-100">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>Naviera</mat-label>
                  <!--                  Filtrado uno a uno-->
                  <!--                  <mat-select formControlName="estado" (selectionChange)="filtro($event,'naviera')">-->
                  <mat-select formControlName="naviera">
                    <mat-option value="TODOS"><strong>TODOS</strong></mat-option>
                    <mat-option *ngFor="let nav of navieras"
                                value="{{nav.codigo}}">{{nav.nombre}}</mat-option>
                  </mat-select>
                  <!--                  <mat-hint>Errors appear instantly!</mat-hint>-->
                  <!--                  <mat-error *ngIf="selected.hasError('required')">Debe seleccionar un valor</mat-error>-->
                </mat-form-field>
              </div>
              <!-- FILTRO MARCA -->
              <div class="w-100">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>Marca</mat-label>
                  <!--                  Filtrado uno a uno-->
                  <!--                  <mat-select formControlName="estado" (selectionChange)="filtro($event,'marca')">-->
                  <mat-select formControlName="marca">
                    <mat-option value="TODOS"><strong>TODOS</strong></mat-option>
                    <mat-option *ngFor="let marca of marcas"
                                value="{{marca.codigo}}">{{marca.descripcion}}</mat-option>
                  </mat-select>
                  <!--                  <mat-hint>Errors appear instantly!</mat-hint>-->
                  <!--                  <mat-error *ngIf="selected.hasError('required')">Debe seleccionar un valor</mat-error>-->
                </mat-form-field>
              </div>
              <!-- FILTRO DESTINO -->
              <div class="w-100">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>Destino</mat-label>
                  <!--                  Filtrado uno a uno-->
                  <!--                  <mat-select formControlName="estado" (selectionChange)="filtro($event,'naviera')">-->
                  <mat-select formControlName="puerto">
                    <mat-option value="TODOS"><strong>TODOS</strong></mat-option>
                    <mat-option *ngFor="let dest of puertos"
                                value="{{dest.codigo}}">{{dest.nombre}}</mat-option>
                  </mat-select>
                  <!--                  <mat-hint>Errors appear instantly!</mat-hint>-->
                  <!--                  <mat-error *ngIf="selected.hasError('required')">Debe seleccionar un valor</mat-error>-->
                </mat-form-field>
              </div>
              <!-- FILTRO CONTENEDOR -->
              <div class="my-0">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>ID. Contenedor</mat-label>
                  <input type="text"
                         placeholder="Ingrese el producto"
                         aria-label="Number"
                         matInput
                         formControlName="numeroContenedor"
                         [matAutocomplete]="acContenedor">
                  <!--                  Filtrado uno a uno-->
                  <!--                         (change)="filtro($event.target,'numeroContenedor')" >-->
                  <!--                  <mat-autocomplete autoActiveFirstOption #acContenedor="matAutocomplete" (optionSelected)="filtro($event.option, 'numeroContenedor')">-->
                  <mat-autocomplete autoActiveFirstOption #acContenedor="matAutocomplete">
                    <mat-option *ngFor="let cont of contenedoresFiltrados | async" [value]="cont">
                      {{cont}}
                    </mat-option>
                  </mat-autocomplete>
<!--                  <mat-error *ngIf="this.filterForm.get('numeroContenedor').invalid">Ingrese al menos 4 caracteres</mat-error>-->
                </mat-form-field>
              </div>
              <!-- FILTRO PREFACTURA ADUANA -->
              <div class="my-0 w-50">
                <mat-form-field class="w-100 py-0 my-0" appearance="fill">
                  <mat-label>Prefactura Aduana #</mat-label>
                  <input type="text"
                         placeholder="Ingrese el producto"
                         aria-label="Number"
                         matInput
                         formControlName="prefactura"
                         [matAutocomplete]="acPrefactura">
                  <!--                  Filtrado uno a uno-->
                  <!--                         (change)="filtro($event.target,'prefactAduana')">-->
                  <!--                  <mat-autocomplete autoActiveFirstOption #acPrefactura="matAutocomplete" (optionSelected)="filtro($event.option, 'prefactAduana')">-->
                  <mat-autocomplete autoActiveFirstOption #acPrefactura="matAutocomplete">
                    <mat-option *ngFor="let cont of prefacturasFiltrados | async" [value]="cont">
                      {{cont}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <!--              Chckbox-->
              <mat-label>Estado</mat-label>
              <div class="my-4 d-flex flex-column">
                <mat-slide-toggle [name]="estado.value" #toggleElement (change)="filtroEstado(estado.value, 'estado', $event.checked)"
                                  *ngFor="let estado of estados | keyvalue">{{estado.value}}</mat-slide-toggle>
              </div>
              <mat-error class="error-form" *ngIf="errorEstados">Debe seleccionar al menos un estado</mat-error>
              <div class="my-3 d-flex flex-row justify-content-start">
                <!--                <div class="ps-2 mat-error small" *ngIf="errorDates">{{errorMsg}}</div>-->
                <mat-error class="error-form mb-2" *ngIf="errorForm">Complete todos los campos requeridos</mat-error>
                <button class="me-2" mat-raised-button color="primary" (click)="aplicarFiltros()">Buscar</button>
                <button class="me-2" mat-raised-button color="success" (click)="limpiarFiltros()">Limpiar</button>
                <button class="w-50" mat-raised-button color="primary" (click)="especificaciones()" [disabled]="pedidosSeleccionados.length != 1">Ver Especificaciones</button>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Modificar Programacion">
          <app-modificar [seleccionados]="pedidosSeleccionados" [pedido]="pedido" [navieras]="navieras" [puertos]="puertos" (actualizarInfo)="actualizarInfo($event)"></app-modificar>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
